@use '../../App.scss' as app;

$color-primary: app.$color-background;
$color-primary--dark: darken($color-primary, 5%);
$color-tertiary: #e63d6d;
$color-tertiary--dark: darken($color-tertiary, 5%);

.calculator__button {
  padding: 2rem;
  text-align: center;
  background-color: $color-primary;
  border: none;
  transition: background-color 0.2s ease;
  font-weight: 700;

  &:hover {
    background-color: $color-primary--dark;
  }

  &--primary {
    background-color: $color-tertiary;

    &:hover {
      background-color: $color-tertiary--dark;
    }
  }

  &--span-2 {
    grid-column: span 2;
  }
}
