@use '../../App.scss' as app;

$color-primary: lighten(app.$color-background, 5%);
$color-result: #83b5bc;

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 10px;
  overflow: hidden;

  &__result {
    grid-column: 1/-1;
    text-align: right;
    font-size: 2rem;
    padding: 2rem;
    background-color: $color-result;
  }
}
